ul {
	padding-left: 5px;
}

/* Chat window container */
#chat-window {
	position: fixed;
	right: 15px;
	z-index: 2;
	height: 300px;
	bottom: 35px;
	background-color: #bdebff51;
	color: white;
	padding: 10px 10px;
	border-radius: 5px;
	width: 100%;
	max-width: 500px;
}

/* Chat messages */
#chat-messages {
	height: 90%;
	overflow-y: scroll;
}

/* Individual chat message */
.chat-message {
	padding: 5px 10px;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

.chat-message:hover {
	background-color: #bdebff51;
}

/* Chat input */
.chat-input {
	width: 70%;
	padding: 5px;
	border: none;
	border-radius: 5px;
	background-color: #bdebff51;
}

/* Send button */
.chat-button {
	width: 25%;
	padding: 5px;
	border: none;
	border-radius: 5px;
	background-color: rgba(0, 123, 255, 0.8);
	color: white;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.chat-button:hover {
	background-color: rgba(0, 223, 255, 0.9);
}

ul {
	list-style: none;
}

.hidden {
	display: none;
}

#chat-input {
	bottom: 15px;
	position: fixed;
	right: 15px;
	z-index: 2;
	position: fixed;
	bottom: 15px;
	color: black; /* Black text */
	padding: 10px 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	width: 80%;
	max-width: 500px;
	margin: auto;
}

.drag-handle {
	cursor: ns-resize; /* Indicates that the handle can be used to resize vertically */
	/* background-color: #ddd; */
	height: 5px; /* Adjust the height to make it thinner */
	width: 100%; /* Make it span the full width of the chat window */
	margin-top: -10.5px; /* Half the height to center it vertically */
}

.sent::before {
	/* text-align: right; */
	color: blue;
	/* prefix: "<Me> "; */
	content: '⬆️';
}

.received::before {
	/* text-align: left; */
	color: green;
	content: '⬇️';
}

.system::before {
	/* text-align: left; */
	color: red;
	content: '⚠️';
}

.info {
	color: lightgray;
	font-style: italic;
}